body {
  background-color: #f2f2f2;
  font-family: 'Raleway';
}

/* --------複数回使用するセレクタ-------- */

.inner {
  width: 1100px;
  margin: 0 auto;
}

.text__center {
  text-align: center;
}

.font {
  font-family: 'Lato';
}

.font__height {
  line-height: 30px;
}

.second__title {
  font-size: 24px;
  text-align: center;
}

.cleafix::after {
  content: "";
  display: block;
  clear: both;
}

.hidden__icon {
  display: none;
}

/* --------複数回使用するセレクタ-------- */


header {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 15px 0;
  background-color: #fff;
}


.bolt {
  font-size: 50px;
  color: #333;
}

.bolt__box {
  float: left;
}

.contact {
  display: inline-block;
  padding: 14px 12px;
  font-size: 12px;
  background-color: #74cfae;
  transition: 0.3s;
  color: #fff;
  text-decoration: none;
}

.contact__box {
  float: right;
}

.contact:hover {
  transition: 0.3s;
  color: #333;
}

main {
  padding-top: 80px;
}

.main__title {
  padding: 250px 0;
}

.title {
  font-size: 90px;
  font-weight: 700;
  text-align: center;
  color: #74cfae;
}

.bolt__text {
  margin-top: 30px;
  font-size: 30px;
  color: #c0c0c0;
  font-weight: normal;
}

.phone__bg {
  padding-top: 50px;
  background-color: #74cfae;
}
.img__box {
  width: 407px;
}

.box__left {
  float: left;
}

.box__right {
  float: right;
}

.phone__text {
  width: 660px;
  color: #fff;
}

.phone__text h2 {
  margin-bottom: 35px;
  font-size: 24px; 
}

.phone__text p {
  font-size: 20px;
}


.article__bg {
  padding: 60px 0 70px 0;
}

.work__image__box {
  margin: 40px 0 90px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.work__image__box li a {
  transition: 0.3s;
  opacity: 0.7;
}

.work__image__box li a:hover {
  transition: 0.3;
  opacity: 1;
}

.work__image__box li:nth-child(n+4) {
  margin-top: 80px;
}

.center__parent {
  text-align: center;
}

.center__child {
  display: inline-block;
}

.work__image__box__text {
  width: 550px;
}

.buttonbox {
  display: inline-block;
  margin-left: 90px;
  padding: 14px 20px;
  background-color: #74cfae;
  font-size: 14px;
  transition: 0.3s;
  color: #fff;
  text-decoration: none;
}

.buttonbox:hover {
  transition: 0.3s;
  color: #333;
}

.circle__bg {
  padding: 70px 0 100px 0;
  background-color: #4e4e4e;
  color: #fff;
}

.circle__box {
  margin-top: 50px;
}


.circle__img__center {
  text-align: center;
}

.circle__img__center li {
  display: inline-block;
  margin-left: 180px;
}

.circle__img__center li p {
  text-align: center;
  font-size: 14px;
}

.circle__img__center li:first-child {
  margin-left: 0;
}

nav {
  padding: 200px 0;
}

.icon__style {
  font-size: 50px;
  width: 185px;
  padding: 20px 0;
  text-align: center;
  color: #74cfae;
  text-align: center;
}

.nav__img__center {
  text-align: center;
}

.nav__img__center li {
  display: inline-block;
}

.icon__link {
  transition: 0.3s;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.icon__link:hover{
  transition: 0.3s;
  background-color: #fff;
  cursor: pointer;
}

footer {
  padding: 25px 0 25px 0;
  background-color: #74cfae;
  color: #fff;
}

footer p {
  text-align: right;
}

/* ---タブレットのスタイル--- */

@media screen and (max-width: 1199px) {

  .inner {
    width: 97%;
  }

  .hidden__icon{
    display: none;
  }

  .phone__bg {
    padding: 50px 0 25px 0;
  }

  .box__left,.box__right {
    float: none;
  }

  .img__box {
    width: initial;
  }

  .phone__text {
    margin-top: 20px;
    width: 100%;
  }

  .article__bg {
    padding-bottom: 70px;
  }

  .work__image__box {
    display: block;
    flex-wrap: initial;
    justify-content: initial;
    margin-bottom: 80px;
    text-align: center;
    font-size: 0;
    width: 100%;
  }

  .work__image__box li:nth-child(n+4) {
    margin-top: initial;
  }

  .work__image__box li:nth-child(4)  {
    margin-top: 80px;
  }

  .center__child {
    display: block;
    margin-bottom: 40px;
  }

  .work__image__box__text {
    width: 800px;
    display: inline-block;
  }

  .buttonbox {
   margin: initial;
  }

  .circle__img__center li {
    margin-top: 88px;
    margin-left: 0px;
    display: block;
  }

  .circle__img__center li:first-child {
    margin-top: 0;
  }
  
}

/* ---タブレットのスタイル--- */



/* ---spスタイル--- */
@media screen and (max-width: 767px) {
  .contact {
    display: none;
  }

  .hidden__icon {
    display: block;
  }

  .menu__icon {
    float: right;
    font-size: 50px;
    padding: 10px;
    border: solid 1px #ddd;
    border-radius: 4px;
    color: #ddd;
    font-weight: 400;
  }

  .main__title {
    padding: 160px 0 130px 0;
    font-size: 80px;
  }

  .bolt__text {
    margin-top: 20px;
    font-size: 30px;
  }

  .img__box {
    width: initial;
  }

  nav {
    padding: 50px 0px;
  }

  .nav__img__center {
    font-size: 0px;
  }

  .nav__img__center li {
    display: block;
  }
}