.inner {
  width: 1100px;
  margin: 0 auto;
}

.text__center {
  text-align: center;
}

.font {
  font-family: 'Lato';
  line-height: 30px;
}

.h1__text {
  font-size: 24px;
  text-align: center;
}

.cleafix::after {
  content: "";
  display: block;
  clear: both;
}

.ul__img__center {
  text-align: center;
}

.ul__img__center li {
  display: inline-block;
}

.hidden__icon {
  display: none;
}


body {
  background-color: #f2f2f2;
  font-family: 'Raleway';
}

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 15px 0 15px 0;
  background-color: #fff;
}


.bolt {
  float: left;
  font-size: 50px;
  color: #333;
}

.contact {
  display: inline-block;
  float: right;
  padding: 14px 12px;
  font-size: 12px;
  background-color: #74cfae;
  transition: 0.3s;
  color: #fff;
  text-decoration: none;
}

.contact:hover {
  transition: 0.3s;
  color: #333;
}

main {
  padding-top: 80px;
}

.main__title {
  padding: 250px 0 250px 0;
}

.title {
  font-size: 90px;
  font-weight: 700;
  text-align: center;
  color: #74cfae;
}
.title:after {
  display: block;
  content: "FREE BOOTSRRAP THEMES";
  padding-top: 30px;
  font-size: 30px;
  color: #c0c0c0;
  font-weight: normal;
}

.phone__bg {
  padding-top: 50px;
  background-color: #74cfae;
}
.img__box {
  width: 407px;
}

.box__left {
  float: left;
}

.box__right {
  float: right;
}

.phone__text {
  width: 660px;
  color: #fff;
}

.phone__text h1 {
  margin-bottom: 35px;
  font-size: 24px; 
}

.phone__text p {
  font-size: 20px;
}


.article__bg {
  padding: 60px 0 70px 0;
}

.work__image__box {
  margin: 0 auto;
  width: 1100px;
}

.work__image__box ul {
  margin: 40px 0 90px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.work__image__box ul li {
  transition: 0.3s;
  opacity: 0.7;
}

.work__image__box ul li:hover {
  transition: 0.3;
  opacity: 1;
}

.work__image__box ul li:nth-child(n+4) {
  margin-top: 80px;
}

.center__parent {
  position: relative;
  left: 50%;
  float: left;
}

.center__child {
  position: relative;
  left: -50%;
  float: left;
}


.work__image__box__text {
  width: 550px;
}

.buttonbox {
  display: inline-block;
  margin-left: 90px;
  padding: 14px 20px;
  background-color: #74cfae;
  font-size: 14px;
  transition: 0.3s;
  color: #fff;
  text-decoration: none;
}

.buttonbox:hover {
  transition: 0.3s;
  color: #333;
}

.circle__bg {
  padding: 70px 0 100px 0;
  background-color: #4e4e4e;
  color: #fff;
}

.circle__box ul {
  margin-top: 100px;
}

.circle__box ul li {
  margin-left: 180px;
}

.circle__box ul li p {
  text-align: center;
  font-size: 14px;
}

.circle__box ul li:first-child {
  margin-left: 0;
}

nav {
  padding: 200px 0 200px 0;
}

.icon__style {
  font-size: 50px;
  width: 185px;
  padding: 20px 0 20px 0;
  text-align: center;
  color: #74cfae;
  text-align: center;
}

.nav__list .ul__img__center li a {
  transition: 0.3s;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.nav__list .ul__img__center li a:hover{
  transition: 0.3s;
  background-color: #fff;
  cursor: pointer;
}

footer {
  padding: 25px 0 25px 0;
  background-color: #74cfae;
  color: #fff;
}

footer p {
  text-align: right;
}

/* ---タブレットのスタイル--- */

@media screen and (max-width: 1199px) {

  .inner {
    width: 97%;
  }

  .hidden__icon{
    display: none;
  }

  .phone__bg {
    padding: 50px 0 25px 0;
  }

  .box__left,.box__right {
    float: none;
  }

  .phone__text {
    margin: 20px 0 30px 0;
    width: 100%;
  }

  .work__image__box {
    margin-top: 40px;
    width: 100%
  }

  .work__image__box ul {
    display: initial;
    flex-wrap: initial;
    justify-content: initial;
    text-align: center;
    font-size: 0;
  }

  .work__image__box ul li:nth-child(n+4) {
    margin-top: initial;
  }

  .work__image__box ul li:nth-child(4)  {
    margin-top: 80px;
  }
  
  .work__image__box .cleafix::after {
    content: initial;
    display: initial;
    clear: initial;
  }

  .work__image__box__text {
    margin: 80px 0 40px 0;
    display: inline-block;
  }

  .work__image__box .center__child,.work__image__box .center__parent {
    position: initial;
    left: initial;
    float: none;
  }

  .pad__image__box {
  text-align: center;
  }

  .buttonbox {
   margin: initial;
  }

  .circle__box ul li {
    margin: 88px 0 0 0;
  }

  .circle__box .ul__img__center li {
    display: block;
  }
  
}

/* ---タブレットのスタイル--- */



/* ---spスタイル--- */
@media screen and (max-width: 767px) {
  .contact {
    display: none;
  }

  .hidden__icon {
    display: block;
  }

  .menu__icon {
    float: right;
    font-size: 50px;
  }

  .img__box {
    width: initial;
  }

  nav {
    padding: 50px 0px 50px 0px;
  }

  nav .ul__img__center li {
    display: block;
  }
}